# Supabase Configuration
VITE_SUPABASE_URL=https://mkinasrlsipjecbedyzu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1raW5hc3Jsc2lwamVjYmVkeXp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3OTQ0MDEsImV4cCI6MjA5ODM3MDQwMX0.FAXhiMZrMZe6JVq4dwbhffn8MOkEWy_KOr2qx82oWCg
